<!-- artist.html -->

<!DOCTYPE html>
<html lang="en">

<head>
	{{sharedHead}}

	<title>{{title}}</title>

	<meta property="og:type" content="music.artist" />
	<meta property="og:title" content="{{title}}" />
	<meta property="twitter:title" content="{{title}}" />
	<meta property="og:description" content="{{description}}" />
	<meta property="twitter:description" content="{{description}}" />
	<meta property="og:image" content="{{image}}" />
	<meta property="twitter:image" content="{{image}}" />
	<meta property="twitter:player" content="https://open.spotify.com/embed/artist/{{id}}?utm_source=fixspotify" />
	<meta http-equiv="refresh" content="1;url={{baseUrl}}/redirect/spotify/artist/{{id}}" />
</head>

</html>
