<!-- playlist.html -->

<!DOCTYPE html>
<html lang="en">

<head>
	{{playlistHead}}

	<title>{{title}}</title>

	<meta property="og:type" content="music.playlist" />
	<meta property="og:title" content="{{title}}" />
	<meta property="twitter:title" content="{{title}}" />
	<meta property="og:description" content="{{description}}" />
	<meta property="twitter:description" content="{{description}}" />
	<meta property="og:image" content="{{image}}" />
	<meta property="twitter:image" content="{{image}}" />
	<meta property="twitter:player" content="https://open.spotify.com/embed/playlist/{{id}}?utm_source=fixspotify" />
	<meta http-equiv="refresh" content="1;url=https://open.fixspotify.com/redirect/spotify/playlist/{{id}}" />
</head>

</html>
