/* providers.css */

.available-providers,
.select-provider {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.disabled-providers {
  display: flex;
  flex-flow: wrap;
  flex-direction: row;
  align-items: center;
  gap: 2rem;
}

.available-providers > h2,
.disabled-providers > h2,
.select-provider > h2 {
	font-size: 1.25rem;
  text-transform: uppercase;
}

.disabled-providers > h2 {
  white-space: nowrap;
}

.available-providers .providers-list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(7rem, 7rem));
  gap: 1rem;
}

.select-provider .providers-list {
  height: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(8rem, 8rem));
  gap: 1rem;
}

.disabled-providers .providers-list {
  display: flex;
  flex-direction: row;
  gap: 1rem;
}

.available-providers .providers-list .provider-item,
.disabled-providers .providers-list .provider-item,
.select-provider .providers-list .provider-item {
  width: 100%;
  height: 100%;
  aspect-ratio: 1 / 1;
  padding: 0.25rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  font-size: 0.75rem;
}

.select-provider .providers-list .provider-item {
  border: 1px solid var(--softGrey);
  background-color: rgba(18, 18, 18, 0.5);
  color: var(--softGrey);
  transition: all 300ms cubic-bezier(0.17, 0.42, 0.51, 0.93);
  cursor: pointer;
}

.select-provider .providers-list .provider-item:hover {
  background-color: var(--providerColor);
  border: 1px solid var(--light);
  color: var(--light);
}

.select-provider .providers-list .provider-item a {
  width: 100%;
  height: 100%;
  color: var(--softGrey);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  font-size: 0.75rem;
}

.select-provider .providers-list .provider-item a:hover {
  color: var(--light);
}

.select-provider .providers-list .provider-item:hover img {
  opacity: 1;
}

.available-providers .providers-list .provider-item img {
  width: 2.5rem;
  height: 2.5rem;
  aspect-ratio: 1 / 1;
}

.disabled-providers .providers-list .provider-item img {
  width: 2rem;
  height: 2rem;
  aspect-ratio: 1 / 1;
  opacity: 0.5;
}

.select-provider .providers-list .provider-item img {
  height: 4rem;
  width: 4rem;
  aspect-ratio: 1 / 1;
  opacity: 0.5;
}

.available-providers .providers-list .provider-item span,
.select-provider .providers-list .provider-item span {
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  text-align: center;
}

@media (max-width: 768px) {
  .disabled-providers {
    align-items: flex-start;
    gap: 1rem;
  }

  .available-providers .providers-list {
    grid-template-columns: repeat(auto-fill, minmax(3rem, 3rem));
  }

  .available-providers .providers-list .provider-item img {
    width: 100%;
    height: 100%;
  }

  .available-providers .providers-list .provider-item span {
    display: none;
  }
}

.select-provider .providers-list .provider-item.selected {
  background-color: var(--providerColor);
  border: 1px solid var(--light);
  color: var(--light);
}

.select-provider .providers-list .provider-item.selected img {
  opacity: 1;
}
